# Okta stuff
OKTA_ORG_URL="https://<SUBDOMAIN>.okta.com"
CLIENT_ID="OIDC client ID"
ISSUER="https://<SUBDOMAIN>.okta.com/oauth2/default"
AUDIENCE="api://default"
OKTA_API_CLIENT_ID="OAuth for Okta client ID"
OKTA_API_SCOPES="okta.users.manage, okta.groups.read"
OKTA_HOOK_AUTH="1234567890"
OKTA_WORKFLOW_URL="https://<SUBDOMAIN>.workflows.okta.com"
OKTA_WORKFLOW_ACTIVATE_USER_ID=""
OKTA_WORKFLOW_ACTIVATE_USER_CLIENT_TOKEN=""
OKTA_WORKFLOW_SSPR_ID=""
OKTA_WORKFLOW_SSPR_CLIENT_TOKEN=""

# custom email OTP stuff
AWS_API_KEY=""
AWS_API_BASE=""
ACTIVATION_TEMPLATE_ID=""
SSPR_TEMPLATE_ID=""

# JWT Stuff
JWT_PRIVATE_KEY=""
