# Okta stuff
OKTA_ORG_URL="https://<SUBDOMAIN>.okta.com"
CLIENT_ID="OIDC client ID"
ISSUER="https://<SUBDOMAIN>.okta.com/oauth2/default"
AUDIENCE="api://default"
OKTA_API_CLIENT_ID=""
OKTA_API_SCOPES="okta.users.manage, okta.groups.read"
OKTA_HOOK_AUTH="1234567890"

# custom email OTP stuff
SENDGRID_API_KEY=""
SENDGRID_FROM_DOMAIN=""
SENDGRID_TEMPLATE_ID=""

# JWT Stuff
JWT_PRIVATE_KEY=""
