# Okta stuff
OKTA_ORG_URL="https://<SUBDOMAIN>.okta.com"
CLIENT_ID="OIDC client ID"
ISSUER="https://<SUBDOMAIN>.okta.com/oauth2/default"
AUDIENCE="api://default"
OKTA_API_SCOPES="okta.users.manage, okta.groups.read"
OKTA_HOOK_AUTH="abcdefg"
